---
const { login, name } = Astro.props;

import fetch from 'node-fetch';

async function getJson(url, context) {
  try {
    const response = await fetch(url);
    if (!response.ok) {
      console.error('Error in getJson of ' + context + ' API Status: ' + response.status);
    }
    const result = await response.json();
    return result;
  } catch (err) {
    console.error('Error in getJson of ' + context + ' API:');
    console.error(err);
  }
}

const projectApiUrl = "https://api.github.com/repos/" + login + "/" + name;
const userApiUrl = "https://api.github.com/users/" + login;

const project = getJson(projectApiUrl, 'project');
const user = getJson(userApiUrl, 'user');
---
<h1>Github Meta Data from project '{name}' of user '{login}'</h1>

<h2>{name}</h2>

<p>{project}</p>

<h1>Github Meta Data of user '{login}'</h1>

<h2>{login}</h2>

<p>{user}</p>
